<h4 class="text-center" *ngIf="getTitle()">
  {{getTitle()}}
</h4>
<ul class="nav nav-pills justify-content-end">
  <li class="nav-item mr-auto">
    <button class="btn btn-light d-inline-flex justify-content-center align-content-between"
            [routerLink]="checkPrePage()">
      <i class="material-icons">keyboard_arrow_left</i>
      Link
    </button>
  </li>
  <li class="nav-item" style="cursor: pointer">
      <img (click)="share('localhost:4200')" src="http://csci571.com/hw/hw8/Images/facebook.png" width="38px" height="38px">
  </li>
  <li class="nav-item" *ngIf="!checkInsideWishList()">
    <button type="button" (click)="addToWishList()" class="btn btn-light d-inline-flex justify-content-center align-content-between">
      <i class="material-icons">add_shopping_cart</i>
    </button>
  </li>
  <li class="nav-item" *ngIf="checkInsideWishList()">
    <button type="button" (click)="removeFromWishList()" class="btn btn-light d-inline-flex justify-content-center align-content-between">
      <i class="material-icons text-warning">remove_shopping_cart</i>
    </button>
  </li>
</ul>
<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/detail/product"
       [ngClass]="{'bg-dark text-white':checkURL('/detail/product'),'text-dark': !checkURL('/detail/product')}">
      Product
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/detail/photo"
       [ngClass]="{'bg-dark text-white':checkURL('/detail/photo'),'text-dark': !checkURL('/detail/photo')}">
      Photos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/detail/shipping"
       [ngClass]="{'bg-dark text-white':checkURL('/detail/shipping'),'text-dark': !checkURL('/detail/shipping')}">
      Shipping
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/detail/seller"
       [ngClass]="{'bg-dark text-white':checkURL('/detail/seller'),'text-dark': !checkURL('/detail/seller')}">
      Seller
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/detail/similar"
       [ngClass]="{'bg-dark text-white':checkURL('/detail/similar'),'text-dark': !checkURL('/detail/similar')}">
      Similar Products
    </a>
  </li>
</ul>
